DB_HOST=mysql
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=change_me

SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_ENCRYPTION=ssl
SMTP_USER=your_email@example.com
SMTP_PASSWORD=change_me

MAIL_FROM=your_email@example.com
MAIL_FROM_NAME="SyM Sistema"

MAIL_TEST_TO=example@example.com
